*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}

:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
img{
    width:100%;
    height:100%;
}
/* #section1{
    padding-top: 350px;
} */
#section1,#section3{
    background-color:var(--veryLightGray);
}
#section2{
    background-color: var(--lightGrayishBlue);
}
section,footer{
    overflow-x:hidden;
    height: auto;
}
#section1 .container{
    padding-top: 270px;
}
#section2 .container{
    gap:40px;
}
body{
    width:100%;
    height:auto;
    font-family: "Public Sans", sans-serif;
}
p{
    font-size:0.9rem;
    color:var(--grayishBlue);
    line-height: 1.5con;
    line-height:2;
    text-align: center;
}
nav,main,footer,section{
    width:100%;
    height: auto;
    position: relative;
}
main{
    background-color: var(--veryLightGray);
}
footer{
    background-color: var(--darkBlue);
}
footer .container{
    gap:40px;
}
nav{
    height:auto;
    background-color: white;
    position:sticky;
    top:0px;
    z-index:10;
}
.container{
    flex-direction: column;
    display:flex;
    padding:70px 20px;
    width:100%;
    height: auto;
    justify-content: center;
}
.logo-socials{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:10px;
}
#socials{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:15px;

}
.foot-logo{
    width:100%;
    padding:0px 80px;
}
.links{
    width:100%;
    color:var(--grayishBlue);
    display:flex;
    font-weight: 700;
    flex-direction:column;
    gap:15px;
    font-size:1.2rem;
    align-items: center;
}
.btn-copy{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex-direction:column;
    color:var(--grayishBlue)
}
ul{
    list-style-type: none;
}
.social-link{
    width:30px;
    height:30px;
}
header{
    width:100%;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:30px;
}
header h1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
    margin-bottom: 0px;
    font-size:40px;
}
h1{
    font-size: 30px;
    margin-bottom:25px;
}
h1,h3,h2{
    color: var(--darkBlue);
    font-weight:500;
    text-align: center;
}
.request-btn{
    width:auto;
    height:auto;
    padding:15px 40px;
    border-radius:30px;
    color:white;
    background:linear-gradient(120deg,var(--limeGreen),var(--brightCyan));
}
#image1{
    top:0px;
    left:0px;
    width:100%;
    z-index:9;
    height:280px;
    background-color: red;
    position:absolute;
    background-color: var(--veryLightGray);
}
#mobile-intro{
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    background-position-y:-110px;
    background-image: url("assets/images/bg-intro-mobile.svg");
}
#mock-up{
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    background-position-y:-200px;
    background-image:url("assets/images/image-mockups.png");
}
nav .container{
    justify-content:space-between;
    padding:20px 15px;
    flex-direction: row;
}

#navigation, #nav-list, #request-btn1{
    display: none;
}
.cards{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
#cards2{
    gap:20px;
}
.card1, .card2{
    display:flex;
    align-items:center;
    flex-direction: column;
    width:100%;
    max-width:350px;
    justify-content:center;
    gap:20px;
    height:250px;
}
.card1 img{
    width:65px;
    height:65px;
    border-radius: 50%;
}

.card2{
    height:400px;
    align-items:flex-start;
    gap:0px;
    justify-content:flex-start ;
    background-color:white;
    border-radius:8px;
    box-shadow:0px 0px 7px -5px black;
}
.card2 img{
    width:100%;
    height:50%;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.card2 p{
    text-align:left;
    line-height: 1.2;
    font-size:14px;
}
.card2 h1{
    font-weight:500;
    font-size:1rem;
    text-align: left;
    margin-bottom: 0px;
}
address{
    font-style: normal;
    font-size:0.8rem;
    font-weight:700;
    color:var(--grayishBlue);
}
#content2{
    width:100%;
    height:50%;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;
    padding:0px 20px;
}
@media screen and (max-width:350px){
    #image1{
        height:250px;
    }
    #section1 .container{
        padding-top:240px;
    }
    header h1{
        font-size:30px;
    }
    h1{
        font-size:28px;
    }
}
@media screen and (min-width:400px){
    #section1 .container{
        padding-top:340px;
    }

    #image1{
        height:330px;
    }
}
@media screen and (min-width:430px){
    #mobile-intro{
        background-position-y:-250px;
    }
    #mock-up{
        background-position-y:-300px;
    }
}
@media screen and (min-width:500px){
    #mobile-intro{
        background-position-y:-250px;
        background-image:url("assets/images/bg-intro-desktop.svg");
    }
    #mock-up{
        background-position-y:-300px;
    }
}
